STORE_PASSWORD="myStorePassword"
KEY_PASSWORD="mykeyPassword"
KEY_ALIAS="myKeyAlias"
STORE_FILE="my/StoreFile/Location"

MARVEL_API_KEY = "your_api_key"
MARVEL_SECRET_KEY = "your_secret"
API_BASE_URL = "https://gateway.marvel.com/"
API_RESULTS_LIMIT=25
API_RESULTS_ORDER_BY = "title"